.panel {
    position: fixed;
    top: 90px;
    right: 0;
    width: 1100px;
    height: calc(100dvh - 90px);
    overflow-y: auto;
    background-color: var(--bg-color-2);
    padding: 4rem;
    padding-bottom:6.5rem;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 80;

    .closeBtn {
        margin-left: auto;
        display: block;
        background-color: var(--bg-color-2);
        border:none;
    }

    .containerFocus {
        display:flex;
        flex-direction: column;
        margin: auto;
        line-height: 1.5rem;
        gap:3rem;

        h2 {
            margin-top:2rem;
        }

        .section {
            display:flex;
            flex-direction: column;
            justify-content:space-between;
            align-items: flex-start;
            gap:2rem;

            /** ---- SAVE IT ---- */

            .saveitProjet {
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                gap:2.5rem;    
            }

            .saveitRole {
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 2.5rem;

                .textScreen {
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap:2.5rem;
                }

                .screens {
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    gap:1rem;
                }
            }

            /** ---- BURNOUT TRACKER ---- */

            .btProjet, .btDemarche {
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                gap:2.5rem;   
            }

            .btPointTechnique {
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 2.5rem;

                .textScreen {
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap:2.5rem;
                }

                .screens {
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    gap:1rem;
                }
                
                
            }

        }
    }
}

.panel.open {
    transform: translateX(0);
}

figure {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:0.5rem;

    img {
        max-width: 500px;
    }

    figcaption {
        font-family: var(--textFont);
    }
}

.text, .saveitBilan {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap:1rem;
}

/**------- Media queries ------- */

@media (max-width: 1200px) {
    .panel {
        width: 80%;

        .containerFocus .section {
            .saveitProjet, .btProjet, .btDemarche {
                flex-direction: column;
                align-items: center;
                gap:1rem; 
            }
            .saveitRole {
                gap:1rem;
            
                .textScreen {
                    flex-direction: column-reverse;
                    align-items: center;
                    gap:1rem; 
                }
            }

            .btPointTechnique {
                gap:1rem;
            
                .textScreen {
                    flex-direction: column-reverse;
                    align-items: center;
                    gap:1rem; 
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .panel {
        width: 100vw;
        height: 100dvh;
    }
}

@media (max-width: 500px) {
    .panel {
        padding: 2rem;
        padding-bottom: 6.5rem;
    }
}